[Unit]
Description=mkboard.com database backup service

[Service]
ExecStart=/bin/bash /opt/mkboard/etc/mkboard-backup-database.sh
Type=oneshot
WorkingDirectory=/opt/mkboard
# User=www-data
# Group=www-data

[Install]
WantedBy=multi-user.target
